
<div class="flex-group gap-16 flex-wrap">
    <div 
        tabindex="0" 
        class="card" 
        *ngFor="let item of repos" 
        (click)="open($event, item)"
        (mousemove)="onMouseMove($event)"
        (mouseenter)="onMouseEnter(item)"
        (mouseleave)="onMouseLeave()"
        >
        <div class="card-labels">
            <span *ngIf="item.open_issues_count > 0 " class="open-issues">{{item.open_issues_count}}</span>
            <span *ngIf="item.unread > 0 " class="unread">{{item.unread}}</span>
        </div>
        <mat-icon>favorite_border</mat-icon>
        <div class="card-header">
            <h2>{{item.name}}</h2>
        </div>
        <div class="card-body">
            <p>{{item.description}}</p>
        </div>
        <span class="visibility">{{item.visibility}}</span>
    </div>

    <div class="repository-container pt-48">
        <button (click)="close()" class="close-button"><mat-icon>close</mat-icon></button>
        
        <mat-tab-group mat-stretch-tabs="false" class="mt-16 h-100">
            <mat-tab label="Documentation">
                <div class="flex-group flex-column gap-8 pt-8">
                    <markdown [data]="selectedRepo?.readme"></markdown>
                </div>
            </mat-tab>
            <mat-tab label="Issues"> Content 2 </mat-tab>
            <mat-tab label="Coming soon" disabled> Content 3 </mat-tab>
        </mat-tab-group>
        
    </div>

    <div #hoverContainer class="hover-container" *ngIf="isHovered" [ngStyle]="{ 
        'top': mouseY + 'px', 
        'left': hoverDirection === 'right' ? (mouseX + 20) + 'px' : (mouseX - (containerWidth + 16)) + 'px',
        }">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div *ngIf="!isLoading" class="hover-card">
            <markdown [data]="readme"></markdown>
        </div>
    </div>
</div>
