.window-nav-bar{
    background: var(--mat-sys-surface-container);  //var(--mat-sys-on-background); //#fbfbfb;
    width: 100%;
    // overflow: hidden;
    // position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    position: relative;

    &.fixed{
        position: fixed;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.profile-menu-container{
    position: relative;
}

.profile-button{
    padding: 12px 16px !important;

    span{
        pointer-events: none;
    }
}

::-webkit-scrollbar {
    width: 20px;
}

.profile-menu{
    position: absolute;
    background: var(--mat-sys-surface-container);
    z-index: 100;
    right: 16px;
    padding: 1rem;
    // line-height: 1rem;
    border-radius: 0.5rem;
    min-width: 250px;
    display: none;
    box-shadow: var(--mat-sys-level3);

    h6{
        font-size: 16px;
        margin: 0;
    }

    span{
        font-size: 10px;
    }

    ul{
        list-style-type:none;
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 1rem;

        li{
            font-size: 12px;
            text-align: start;
            padding: 4px 8px;
            border-radius: 4px;
            transition: all 0.2s ease;
            cursor: pointer;

            &:hover{
                background: var(--mat-sys-background);
            }
        }
    }
}

.example-spacer{
    -webkit-app-region: drag;
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 14px 16px;
    color: var(---mat-sys-on-surface);

    &:hover{
        background-color: var(--mat-sys-outline-variant);
        
        div:has(fa-icon){
            animation: fa-bounce 1s infinite;
        }

        div:has(fa-icon[icon="bell"]){
            animation: fa-shake 1s infinite;
        }

        
    }

    &.window-close:hover{
        background-color: var(--mat-sys-error);
        color: var(--mat-sys-on-error);
        
        ::ng-deep fa-icon svg{
            transition: transform 0.2s ease;
            transform: rotateZ(90deg);
        }
    }
}

fa-icon{
    font-size: 14px;
}