<div class="flex-group space-between window-nav-bar">
    <div class="flex-group">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <button (click)="goBack()" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button (click)="goForward()" mat-icon-button>
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
    </button>
    <div class="profile-menu-container">
        <button (click)="showProfileMenu($event)" mat-icon-button class="profile-button">
            <mat-icon>account_circle</mat-icon>
        </button>

        <div class="profile-menu">
            <div class="flex-group flex-column align-center">
                <mat-icon>account_circle</mat-icon>
                <h6>marhano</h6>
                <span>carullomarjan&#64;gmail.com</span>
                <button class="button-small-corner w-100" mat-stroked-button>
                    View Profile
                </button>
                <ul>
                    <li (click)="openSettings()">Settings</li>
                    <li (click)="signOut()">Sign Out</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex-group">
        <button class="btn" (click)="minimizeWindow()">
            <mat-icon>minimize</mat-icon>
        </button>
        <button class="btn" (click)="maximizeWindow()">
            <mat-icon>{{maximizeIcon()}}</mat-icon>
        </button>
        <button class="btn window-close" (click)="closeWindow()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>