.window-nav-bar{
    background: var(--mat-sys-surface-container);  //var(--mat-sys-on-background); //#fbfbfb;
    width: 100%;
    // overflow: hidden;
    // position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    padding: 0px 0 4px;
    -webkit-user-select: none;
    user-select: none;

    &.fixed{
        position: fixed;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.profile-menu-container{
    position: relative;
}

.profile-button{
    margin-right: 0.5rem;

    mat-icon{
        pointer-events: none;
    }
    span{
        pointer-events: none;
    }
}

::-webkit-scrollbar {
    width: 20px;
}

.profile-menu{
    position: absolute;
    background: var(--mat-sys-surface-container);
    z-index: 100;
    right: 0;
    padding: 1rem;
    // line-height: 1rem;
    border-radius: 0.5rem;
    min-width: 250px;
    display: none;

    h6{
        font-size: 16px;
        margin: 0;
    }

    span{
        font-size: 10px;
    }

    ul{
        list-style-type:none;
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 1rem;

        li{
            font-size: 12px;
            text-align: start;
            padding: 4px 8px;
            border-radius: 4px;
            transition: all 0.2s ease;
            cursor: pointer;

            &:hover{
                background: var(--mat-sys-background);
            }
        }
    }
}

.example-spacer{
    -webkit-app-region: drag;
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: var(--mat-sys-outline-variant);
    }
}