<div [class.fixed]="positionFixed" class="flex-group space-between window-nav-bar">
    <div class="flex-group">
        <button class="btn">
            <fa-icon icon="bars"></fa-icon>
        </button>
        <div *ngIf="default" class="flex-group">
            <button class="btn" (click)="goBack()">
                <fa-icon icon="chevron-left"></fa-icon>
            </button>
            <button class="btn" (click)="goForward()">
                <fa-icon icon="chevron-right"></fa-icon>
            </button>
        </div>
    </div>
    <span class="example-spacer"></span>
    <div class="flex-group" *ngIf="default">
        <button class="btn">
            <div>
                <fa-icon icon="bell"></fa-icon>
            </div>
        </button>
        <div class="profile-menu-container">
            <button (click)="showProfileMenu($event)" class="btn profile-button">
                <img class="user-avatar" src="{{userProfile?.avatar_url}}" alt="">
            </button>
    
            <div class="profile-menu">
                <div class="flex-group flex-column align-center gap-8">
                    <img class="user-avatar__lg" src="{{userProfile?.avatar_url}}" alt="">
                    <h6>{{userProfile?.login}}</h6>
                    <span>carullomarjan&#64;gmail.com</span>
                    <button class="button-small-corner w-100" mat-stroked-button>
                        View Profile
                    </button>
                    <ul>
                        <li (click)="openSettings()">Settings</li>
                        <li (click)="signOut()">Sign Out</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-group">
        <button class="btn" (click)="minimizeWindow()">
            <div>
                <fa-icon [icon]="['far', 'window-minimize']"></fa-icon>
            </div>
        </button>
        <button class="btn" (click)="maximizeWindow()">
            <!-- <mat-icon></mat-icon> -->
            <div>
                <fa-icon [icon]="['far', maximizeIcon()]"></fa-icon>
            </div>
        </button>
        <button class="btn window-close" (click)="closeWindow()">
            <div>
                <fa-icon icon="xmark"></fa-icon>
            </div>
        </button>
    </div>
</div>