<div class="container">
    <div class="flex-group flex-column gap-8 login-container">
        <div class="flex-group flex-column app-title">
            <h6 class="italic">bastion</h6>
            <h1>reposync.dev</h1>
        </div>
        <div class="flex-group flex-column gap-8 login-panel">
            <p>Enter personal access token to sign in.</p>
            <mat-form-field appearance="outline">
                <mat-label>Personal access token</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="flex-group flex-wrap gap-8">
                <button mat-flat-button class="custom-theme">Sign In</button>
                <button mat-stroked-button color="accent"><mat-icon matIconPrefix>hub</mat-icon> Sign in with Github</button>
            </div>
            <span>v0.0.1</span>
        </div>
        
    </div>
</div>