// .grid-group{
//     display: grid;
//     grid-template-columns: auto 1fr;
//     overflow: hidden;
//     height: 100%;
// }

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.sidebar{
    background: var(--mat-sys-surface-container);
    min-width: 250px;
    user-select: none;
    border-right: 1px solid var(--mat-sys-outline-variant);
    transition: all 0.2s ease;

    ul{
        list-style-type: none;
        margin: 0;
        padding: 1rem 1rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        height: 100%;

        li{
            padding: 0.5rem;
            font-size: 12px;
            transition: all 0.2s ease;
            cursor: pointer;
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--mat-sys-on-surface);

            &:hover{
                background: var(--mat-sys-outline-variant);
            }

            mat-icon{
                font-size: 16px;
                width: 16px !important;
                height: 16px !important;
            }

            &.active{
                background: var(--mat-sys-outline-variant);
                // background: var(--mat-sys-primary);
                // color: var(--mat-sys-on-primary);
            }

            a{
                text-decoration: none;
                color: inherit;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }

        mat-slide-toggle{
            margin-top: 1rem;
        }

        > span{
            margin: auto auto 0;
            color: var(--mat-sys-on-surface);
            font-size: 12px;
            opacity: 0.1;
        }
    }
}


  
  