.small-button {
    padding: 0px 16px; /* Adjust padding */
    font-size: 12px;  /* Smaller font size */
    height: 32px;     /* Adjust button height */
    min-width: 64px;  /* Adjust button width */
    position: relative;
}

.small-button mat-icon {
    font-size: 16px; /* Adjust icon size */
    margin-right: 4px; /* Space between icon and text */
    position: relative;
}

.table-wrapper{
    overflow: scroll;
    //height: calc(100vh - (40px + 208px));
}

.layout{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    background: var(--mat-sys-background);
}

.mat-mdc-menu-content{
    display: none;
}

main{
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;

    .sidebar{
        background: var(--mat-sys-surface-container);
        min-width: 250px;
        user-select: none;
        border-right: 1px solid var(--mat-sys-outline-variant);
    
        ul{
            list-style-type: none;
            margin: 0;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
    
            li{
                padding: 0.5rem;
                font-size: 12px;
                transition: all 0.2s ease;
                cursor: pointer;
                border-radius: 0.3rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
    
                &:hover{
                    background: var(--mat-sys-outline-variant);
                }
    
                mat-icon{
                    font-size: 16px;
                    width: 16px !important;
                    height: 16px !important;
                }
    
                &.active{
                    background: var(--mat-sys-outline-variant);
                }
            }
    
            mat-slide-toggle{
                margin-top: 1rem;
            }
        }
    }
}

