.table-wrapper{
    overflow: scroll;
    //height: calc(100vh - (40px + 208px));
}

.layout{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    background: var(--mat-sys-background);
    height: 100%;
}

.mat-mdc-menu-content{
    display: none;
}

