

.grid-group{
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
    padding-top: .5rem;
}

mat-list{
    padding: 0;
}

.side-nav{
    display: flex !important;

    span{
        padding: 0 .5rem;
    }
}

.badge{
    padding: 0px 4px;
    border-radius: 8px;
    cursor: pointer;
}



