<h1 mat-dialog-title>Create new issue</h1>
<div mat-dialog-content>
    <div class="grid-group">
      <div class="flex-group flex-column main-content">
        <mat-form-field appearance="outline">
            <mat-label>Select a project</mat-label>
            <mat-icon matPrefix>folder</mat-icon>
            <mat-select>
              <mat-option value="item">
                Repo 1
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Add a title</mat-label>
            <input matInput>
        </mat-form-field>
        <app-markdown-editor></app-markdown-editor>
        <button mat-button class="align-self-start">
          <mat-icon matPrefix>attach_file</mat-icon>
          Paste, drop, or click to add files
        </button>
      </div>

      <mat-list class="flex-group flex-column gap-24 side-nav">
        <div class="flex-group gap-8 flex-column">
          <div class="flex-group align-center space-between setting-button">
            <mat-label>Assignees</mat-label>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </div>
          <div class="flex-group flex-column">
            <span>No one</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="flex-group gap-8 flex-column">
          <div class="flex-group align-center space-between setting-button">
            <mat-label>Labels</mat-label>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </div>
          <div class="flex-group flex-column">
            <span>No Labels</span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button>Create</button>
</div>
