

.grid-group{
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
    padding-top: .5rem;
}

.side-nav{
    display: flex !important;

    .setting-button{
        border-radius: .5rem;
        transition: all 0.2s ease;
        padding: 0 .5rem;

        &:hover{
            background: rgba($color: #000000, $alpha: 0.1);
            cursor: pointer;
        }

        mat-label{
            font-weight: 500;
        }
    }

    span{
        padding: 0 .5rem;
    }
}