.container{
    padding: 16px;
    height: 100%;
}

.sticky{
    padding: 0 0 16px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.button-toggle-container{
    button{
        background: transparent;
        border: 1px solid transparent;
        padding: 2px;
        cursor: pointer;
        border-radius: 4px;
        color: var(--mat-sys-on-surface);

        &:hover{
            border-color: var(--mat-sys-outline-variant);
        }

        &.active{
            background: var(--mat-sys-outline-variant);
        }
    }
}