<div class="container">
    <div class="sticky flex-group gap-16 space-between align-center">
        <div class="flex-group gap-8">
            <button mat-button>Recent projects</button>
            <button mat-button>Open issues</button>
        </div>
        <div class="flex-group">
            <button mat-button [matMenuTriggerFor]="menu">
                All repositories
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
            </mat-menu>
            <div class="button-toggle-container flex-group align-center">
                <button class="active">
                    <mat-icon>grid_view</mat-icon>
                </button>
                <button>
                    <mat-icon>view_list</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="flex-group pb-48 gap-16 flex-wrap h-inherit overflow-scroll p-relative">
        <app-card-repo [repos]="repositories"></app-card-repo>
    </div>
</div>