<div mat-dialog-content>
    <div class="flex-group flex-column gap-24">
        <div class="flex-group flex-column gap-8">
            <mat-icon>notifications_active</mat-icon>
            <h1>New version available!</h1>
            <p>{{updateInfo.releaseName}}</p>
        </div>
        <markdown [data]="updateInfo.releaseNotes">Nothing to preview</markdown>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Not now</button>
    <button (click)="download()" mat-flat-button>Install</button>
</div>