
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use "./theme/typography" as typography;
@use "./theme/layout" as layouts;
@use "./theme/attributes" as attributes;
@use '@angular/material' as mat;
@use "bulma/sass/helpers";
@use "bulma/sass/layout";
@use "bulma/sass/grid";
@use "bulma/sass/components";

@import "prismjs/themes/prism-twilight.css";
@import "prismjs/plugins/line-highlight/prism-line-highlight.css";

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
    ),
    typography: Roboto,
  ));

  &.dark-mode{
    color-scheme: dark;
  }

  &.red-palette{
    @include mat.theme((
      color: (
        primary: mat.$red-palette,
      )
    ));
  }

  &.green-palette{
    @include mat.theme((
      color: (
        primary: mat.$green-palette,
      )
    ));
  }

  &.azure-palette{
    @include mat.theme((
      color: (
        primary: mat.$azure-palette,
      )
    ));
  }

  &.violet-palette{
    @include mat.theme((
      color: (
        primary: mat.$violet-palette,
      )
    ));
  }
}/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body { 
  margin: 0; 
  //font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  background: var(--mat-sys-background);
}

.button-small-corner{
  @include mat.button-overrides((
    outlined-container-shape: var(--mat-sys-corner-extra-small),
    filled-container-shape: var(--mat-sys-corner-extra-small),
  ));
}

* {
  @extend %spacing;
  @extend %flex;
  @extend %utilities;
  box-sizing: border-box;
}

.grid-group{
  display: grid;
}

.sticky{
  top: 0;
  //box-shadow: 0 2px 4px 6px rgba($color: #000000, $alpha: 0.2);
  z-index: 10;
  padding: 1rem 1rem 0;
  background: var(--mat-sys-background);

  &.sticky-collapsed{
    height: 0 !important;
    transform: translateY(-500px);
    padding: 0 !important;
  }
}

.mat-select-search-input{
  background-color: var(--mat-sys-surface-container) !important;
}

a{
  cursor: pointer;
  color: inherit;

  &:hover{
    text-decoration: underline;
    color: var(--mat-sys-primary);
  }
}

.mat-mdc-dialog-surface{
  border-radius: var(--mat-sys-corner-medium) !important;
}

.window-nav-bar{
  .mat-mdc-icon-button{
    border-radius: 0 !important;
  
    .mat-mdc-button-persistent-ripple{
        border-radius: 0 !important;
    }
  }
  
  .mat-mdc-icon-button.window-close  .mat-mdc-button-persistent-ripple::before{
    background-color: red !important;
  }
  .mat-mdc-icon-button:hover>.mat-mdc-button-persistent-ripple::before{
    opacity: 0.1 !important;
  }
}



.small-input{
  @include mat.theme((
    density: -5,
  ));

  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
}

mat-form-field{
  @include mat.theme((
    density: -4,
  ));
}

.mat-mdc-menu-content{
  button{
    p{
      font-size: 10px;
      color: var(--mat-sys-on-surface-variant);
    }
  }
}

.user-avatar{
  width: 24px;
  border-radius: 24px;

  &__lg{
    width: 48px;
    border-radius: 48px;
  }
}

router-outlet ~ * {
  width: 100%;
}

::-webkit-scrollbar { display: none; }

.comment-markdown-module{
  .markdown-editor-module{
    textarea{
      min-height: 120px !important;
    }
    .markdown-preview{
      min-height: 120px !important;
    }
  }
}

markdown{
  img{
    width: 100%;
  }
}

mat-checkbox .mdc-label{
  display: flex;
  align-items: center;
  gap: 8px;
}

.card{
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  border-radius: 1rem;
}

.container{
  background: var(--mat-sys-background);
}

.small-button {
  padding: 0px 16px !important; /* Adjust padding */
  font-size: 12px !important;  /* Smaller font size */
  height: 32px !important;     /* Adjust button height */
  min-width: 64px !important;  /* Adjust button width */
  position: relative !important;
}

.small-button mat-icon {
  font-size: 16px !important; /* Adjust icon size */
  margin-right: 4px !important; /* Space between icon and text */
  position: relative !important;
}

.viewed-item{
  color: var(--mat-sys-outline);
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
  z-index: 99; /* Ensure it appears above other elements */
  display: none; /* Initially hidden */
}

.heading-link{
  text-decoration: none;
  
  &:hover{
    text-decoration: underline;
    color: var(--mat-sys-on-background);
  }

  fa-icon{
    font-size: 18px;
    color: var(--mat-sys-outline-variant);
  }
}

.badge{
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  padding: 4px 8px;
  border-radius: 16px;
  text-transform: capitalize !important;
}

code{
  background: var(--mat-sys-outline-variant);
  padding: 3px 6px;
  border-radius: 6px;
  font-weight: 700;
  text-wrap: wrap !important;
}

.property-type{
  color: var(--mat-sys-outline);
}

.required{
  color: #d29922;
}

table{
  width: 100%;
}


//loader
/* HTML: <div class="loader"></div> */
.loading-container{
    min-height: 200px;

    .loader{
        margin: auto;
    }
}
.loader {
  color: var(--mat-sys-outline);
  width: 4px;
  aspect-ratio: 1;
  border-radius: 100%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px) scale(0.9);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}


pre[class*="language-"],
code[class*="language-"] {
	color: var(--mat-sys-on-background);
	font-size: 13px;
	text-shadow: none;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
	text-shadow: none;
	background: #264F78;
}

pre[class*=language-] {
  box-shadow: none;
  border: none;
  margin: 0 !important;
}

@media print {
	pre[class*="language-"],
	code[class*="language-"] {
		text-shadow: none;
	}
}

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	background: var(--mat-sys-surface-container-low);
}

:not(pre) > code[class*="language-"] {
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
	background: var(--mat-sys-surface-container-low);
}
/*********************************************************
* Tokens
*/

@media (prefers-color-scheme: light){
  .token.atrule {
    color: #7c4dff;
  }
  
  .token.attr-name {
    color: #39adb5;
  }
  
  .token.attr-value {
    color: #f6a434;
  }
  
  .token.attribute {
    color: #f6a434;
  }
  
  .token.boolean {
    color: #7c4dff;
  }
  
  .token.builtin {
    color: #39adb5;
  }
  
  .token.cdata {
    color: #39adb5;
  }
  
  .token.char {
    color: #39adb5;
  }
  
  .token.class {
    color: #39adb5;
  }
  
  .token.class-name {
    color: #6182b8;
  }
  
  .token.comment {
    color: #aabfc9;
  }
  
  .token.constant {
    color: #7c4dff;
  }
  
  .token.deleted {
    color: #e53935;
  }
  
  .token.doctype {
    color: #aabfc9;
  }
  
  .token.entity {
    color: #e53935;
  }
  
  .token.function {
    color: #7c4dff;
  }
  
  .token.hexcode {
    color: #f76d47;
  }
  
  .token.id {
    color: #7c4dff;
    font-weight: bold;
  }
  
  .token.important {
    color: #7c4dff;
    font-weight: bold;
  }
  
  .token.inserted {
    color: #39adb5;
  }
  
  .token.keyword {
    color: #7c4dff;
  }
  
  .token.number {
    color: #f76d47;
  }
  
  .token.operator {
    color: #39adb5;
  }
  
  .token.prolog {
    color: #aabfc9;
  }
  
  .token.property {
    color: #39adb5;
  }
  
  .token.pseudo-class {
    color: #f6a434;
  }
  
  .token.pseudo-element {
    color: #f6a434;
  }
  
  .token.punctuation {
    color: #39adb5;
  }
  
  .token.regex {
    color: #6182b8;
  }
  
  .token.selector {
    color: #e53935;
  }
  
  .token.string {
    color: #f6a434;
  }
  
  .token.symbol {
    color: #7c4dff;
  }
  
  .token.tag {
    color: #e53935;
  }
  
  .token.unit {
    color: #f76d47;
  }
  
  .token.url {
    color: #e53935;
  }
  
  .token.variable {
    color: #e53935;
  }
}

@media (prefers-color-scheme: dark){
  .namespace {
    opacity: .7;
  }
  
  .token.doctype .token.doctype-tag {
    color: #569CD6;
  }
  
  .token.doctype .token.name {
    color: #9cdcfe;
  }
  
  .token.comment,
  .token.prolog {
    color: #6a9955;
  }
  
  .token.punctuation,
  .language-html .language-css .token.punctuation,
  .language-html .language-javascript .token.punctuation {
    color: #d4d4d4;
  }
  
  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.inserted,
  .token.unit {
    color: #b5cea8;
  }
  
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.deleted {
    color: #ce9178;
  }
  
  .language-css .token.string.url {
    text-decoration: underline;
  }
  
  .token.operator,
  .token.entity {
    color: #d4d4d4;
  }
  
  .token.operator.arrow {
    color: #569CD6;
  }
  
  .token.atrule {
    color: #ce9178;
  }
  
  .token.atrule .token.rule {
    color: #c586c0;
  }
  
  .token.atrule .token.url {
    color: #9cdcfe;
  }
  
  .token.atrule .token.url .token.function {
    color: #dcdcaa;
  }
  
  .token.atrule .token.url .token.punctuation {
    color: #d4d4d4;
  }
  
  .token.keyword {
    color: #569CD6;
  }
  
  .token.keyword.module,
  .token.keyword.control-flow {
    color: #c586c0;
  }
  
  .token.function,
  .token.function .token.maybe-class-name {
    color: #dcdcaa;
  }
  
  .token.regex {
    color: #d16969;
  }
  
  .token.important {
    color: #569cd6;
  }
  
  .token.italic {
    font-style: italic;
  }
  
  .token.constant {
    color: #9cdcfe;
  }
  
  .token.class-name,
  .token.maybe-class-name {
    color: #4ec9b0;
  }
  
  .token.console {
    color: #9cdcfe;
  }
  
  .token.parameter {
    color: #9cdcfe;
  }
  
  .token.interpolation {
    color: #9cdcfe;
  }
  
  .token.punctuation.interpolation-punctuation {
    color: #569cd6;
  }
  
  .token.boolean {
    color: #569cd6;
  }
  
  .token.property,
  .token.variable,
  .token.imports .token.maybe-class-name,
  .token.exports .token.maybe-class-name {
    color: #9cdcfe;
  }
  
  .token.selector {
    color: #d7ba7d;
  }
  
  .token.escape {
    color: #d7ba7d;
  }
  
  .token.tag {
    color: #569cd6;
  }
  
  .token.tag .token.punctuation {
    color: #808080;
  }
  
  .token.cdata {
    color: #808080;
  }
  
  .token.attr-name {
    color: #9cdcfe;
  }
  
  .token.attr-value,
  .token.attr-value .token.punctuation {
    color: #ce9178;
  }
  
  .token.attr-value .token.punctuation.attr-equals {
    color: #d4d4d4;
  }
  
  .token.entity {
    color: #569cd6;
  }
  
  .token.namespace {
    color: #4ec9b0;
  }
  /*********************************************************
  * Language Specific
  */
  
  pre[class*="language-javascript"],
  code[class*="language-javascript"],
  pre[class*="language-jsx"],
  code[class*="language-jsx"],
  pre[class*="language-typescript"],
  code[class*="language-typescript"],
  pre[class*="language-tsx"],
  code[class*="language-tsx"] {
    color: #9cdcfe;
  }
  
  pre[class*="language-css"],
  code[class*="language-css"] {
    color: #ce9178;
  }
  
  pre[class*="language-html"],
  code[class*="language-html"] {
    color: #d4d4d4;
  }
  
  .language-regex .token.anchor {
    color: #dcdcaa;
  }
  
  .language-html .token.punctuation {
    color: #808080;
  }
  /*********************************************************
  * Line highlighting
  */
  pre[class*="language-"] > code[class*="language-"] {
    position: relative;
    z-index: 1;
  }
  
  .line-highlight.line-highlight {
    background: #f7ebc6;
    box-shadow: inset 5px 0 0 #f7d87c;
    z-index: 0;
  }  
}