
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "./theme/typography" as typography;
@use "./theme/layout" as layout;
@use "./theme/attributes" as attributes;

@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  @extend %spacing;
  @extend %flex;
  @extend %utilities;
  box-sizing: border-box;
}

.grid-group{
  display: grid;
}

.sticky{
  top: 0;
  background: #fff;
  //box-shadow: 0 2px 4px 6px rgba($color: #000000, $alpha: 0.2);
  z-index: 10;
  padding: 4rem 1rem 0;
}

.mat-select-search-input{
  background-color: #fff !important;
}

a{
  cursor: pointer;

  &:hover{
    text-decoration: underline;
    color: var(--mat-sys-primary);
  }
}

.mat-mdc-dialog-surface{
  border-radius: var(--mat-sys-corner-medium) !important;
}

.window-nav-bar{
  .mat-mdc-icon-button{
    border-radius: 0 !important;
  
    .mat-mdc-button-persistent-ripple{
        border-radius: 0 !important;
    }
  }
  
  .mat-mdc-icon-button.window-close  .mat-mdc-button-persistent-ripple::before{
    background-color: red !important;
  }
  .mat-mdc-icon-button:hover>.mat-mdc-button-persistent-ripple::before{
    opacity: 0.4 !important;
  }
}



.small-input{
  @include mat.theme((
    density: -5,
  ));

  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
}

mat-form-field{
  @include mat.theme((
    density: -4,
  ));
}

.mat-mdc-menu-content{
  button{
    p{
      font-size: 10px;
      color: var(--mat-sys-on-surface-variant);
    }
  }
}

.user-avatar{
  width: 24px;
  border-radius: 24px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.markdown-editor-module{
  header{
      background: #FBFBFB;
      border-radius: .5rem .5rem 0 0;
      border-width: 1px 1px 0;
      border-top-style: solid;
      border-right-style: solid;
      border-left-style: solid;

      .tabs{
          display: flex;
          align-items: flex-end;

          button{
              margin: 0;
              padding: 1rem;
              border: none;
              font-family: inherit;
              background: inherit;
              font-size: 14px;
              color: var(--mat-sys-on-surface-variant);
              cursor: pointer;
              

              &.active{
                  border-radius: .5rem .5rem 0 0;
                  background: #FAF9FD;
                  color: var(--mat-sys-on-surface-variant);
                  border-width: 1px 1px 0;
                  border-top-style: solid;
                  border-right-style: solid;
                  border-left-style: solid;
                  border-bottom-style: initial;
              }
          }
      }

      .toolbar{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
      }

  }
  textarea{
      padding: 1rem;
      width: 100%;
      min-height: 300px;
      border-radius: 0 0 .5rem .5rem;
      font-size: 16px;
      font-family: inherit;
      background-color: inherit;
      resize: vertical !important;
  }
}